name: Unit Tests

on: [push, pull_request]

jobs:
  unittest:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11']

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: 'x64'

      - name: Install dependencies
        run: |
          python setup.py install
          python -m pip install -r test-requirements.txt
      - name: Run tests
        run: pytest --cov
